<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Document</title>
  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
      font-size: 14px;
      line-height: 1.5;
      color: #333;
      background-color: #fff;
    }

    .container {
      padding: 0;
    }

    .navbar {
      min-height: 60px;
      /*line-height: 60px;*/
      margin-bottom: 0;
    }

    .navbar-default {
      background-color: transparent;
      border-color: transparent;
    }

    .nav-logo {
      float: left;
      display: block;
      width: 188px;
      height: 60px;
      margin-left: 10px;
      /*background: url(../public/images/sustar-logo.png);*/
    }

    .nav>li {
      display: inline-block;
    }

    .nav>li>a {
      /*padding: 0;*/
      display: inline-block;
      padding: 0 13px;
      height: 30px;
      color: #4e72b8 !important;
      line-height: 30px;
      background: transparent;
      font-size: 16px;
      border-radius: 3px;
    }

    .collapse>.nav>li>a:hover {
      background-color: #e7e7e7;
    }

    .navbar-nav {
      line-height: 60px;
      display: inline-block;
    }
    /*.active {
      line-height: 30px;
    }*/

    .new-show:after {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background-color: #ff4500;
      position: absolute;
      right: 4px;
      top: 4px;
      border-radius: 50%;
    }

    .line-leight {
      line-height: 58px;
    }

    .navbar-form {
      margin-top: 0;
      margin-bottom: 0;
    }

    .form-group {
      position: relative;
    }

    .btn {
      position: absolute;
      top: 14px;
      left: 1px;
      padding: 6px 9px;
      color: #999;
      border: none;
      border-radius: 3px;
    }

    .btn-default:hover {
      color: #333;
      background: #F6F6F6;
      border-color: #adadad;
    }

    .form-control {
      padding-left: 35px;
      /*line-height: 60px;*/
    }

    .form-control:focus {
      background: #F6F6F6;
      box-shadow: none;
    }

    .navbar-right>.nav>li>.a-hover:hover {
      background-color: #e7e7e7;
    }

    .log-in {
      background-color: #009a61;
      color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      /* ----------------------------------------- 神奇居中tag ------------------------------------ */
      margin-left: 15px;
      display: inline-block;
      padding: 0 13px;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      border-radius: 3px;
    }

    .log-in>a {
      color: #fff;
    }


    @media (max-width: 1199px) and (min-width: 992px) {
      .form-group .header-search {
        width: 80px;
      }
    }

    @media (min-width: 1200px) {
      .form-group .header-search {
        width: 234px;
      }
    }

    .nav-tags {
      background: #4e72b8;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
    }

    .nav_list {
      overflow: hidden;
      height: 34px;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .nav_item {
      display: inline-block;
    }

    .nav_list .nav_item a {
      display: block;
      padding: 9px;
      color: #eee;
      line-height: 1;
    }

    .nav_list .nav_item a:hover {
      background-color: rgba(255, 255, 255, 0.15);
      text-decoration: none;
    }

    .nav_list .nav_item a span {
      margin-right: 5px;
    }

    .split {
      width: 0;
    }

    .split::after {
      content: '';
      height: 16px;
      border-right: 1px solid rgba(157, 204, 182, 0.25);
    }

    .nav_list .nav_item .nav_tag {
      padding: 10px;
    }

    .nav_item-more {
      position: absolute;
      top: 0;
      right: 0;
      height: 34px;
      width: 34px;
      background: #4e72b8;
    }

    .nav-posi {
      position: relative;
    }

    .nav_item-more::after {
      content: '';
      position: absolute;
      left: -20px;
      top: 0;
      width: 20px;
      height: 100%;
      /*background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…B3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=);*/
      background-size: 100%;
      /*background-image: -moz-linear-gradient(0deg, rgba(0, 95, 60, 0) 0%, #005f3c 100%);*/
      /*background-image: -webkit-linear-gradient(0deg, rgba(0, 95, 60, 0) 0%, #005f3c 100%);*/
      background-image: linear-gradient(90deg, rgba(0, 95, 60, 0) 0%, #4e72b8 100%);
    }

    .tag__more {
      width: 22px;
      padding: 7px 0;
    }

    .tag__more--icon {
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #eee;
      border-radius: 50%;
      float: left;
      margin-right: 3px;
    }

    .nav_list .nav_item .tag_item_more:hover {
      background: transparent;
    }

    .navbar-right .login_out {
      display: none;
    }

    .glyphicon-pencil {}


    .navbar-nav>li>.dropdown-menu {
      margin-top: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .btn-group {
      display: block;
    }

    .btn-primary {
      background: #4e72b8;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
      color: #eee;
    }

    .btn-primary:hover {
      background-color: #33a3dc;
    }

    .btn-primary:active {
      background-color: #e7e7e7;
    }

    .btn-primary:focus {
      background-color: #e7e7e7;
    }

    .btn-group .btn {
      padding: 6px 6px;
    }

    .login_pad {
      padding: 0 5px;
    }

    @media (min-width: 768px) {
      .navbar-right .dropdown-menu {
        top: 52px;
      }
    }

    .navbar-right>.nav>li>.login_a:hover {
      background-color: #e7e7e7;
    }

    .login_a {
      line-height: 30px;
    }

    #bell {
      width: 276px;
      padding-top: 0;
    }

    .bell-top {
      background-color: #f5f5f5;
    }

    .nav-tabs {
      border-bottom: none;
    }

    .nav-tabs>li>a {
      margin-right: 0px;
    }

    .nav-tabs>li {
      line-height: 1;
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
      background-color: #fff;
      border: none;
      border-radius: 0px;
      background-color: transparent;
      font-weight: bold;
      color: #009A61;
      box-shadow: inset 0px -2px 0px 0px #009A61;
    }

    .nav-tabs>li>a:hover {
      box-shadow: inset 0px -2px 0px 0px #009A61;
      border-radius: 0px;
      background-color: #fff;
      border: none;
      border-radius: 0px;
    }

    .tab-content {
      height: 250px;
    }

    .text_tab {
      line-height: 40px;
      margin: 0 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .bell_tag {
      position: relative;
    }

    .tab-content .text_tab a,
    .foot_tab a {
      font-size: 13px;
      color: #666;
      line-height: 30px;
    }

    .tab-content .text_tab a:hover {
      color: #ed502b;
      text-decoration: none;
    }

    .foot_tab a {
      position: absolute;
      right: 10px;
      bottom: 0px;
    }

    .foot_tab {
      height: 30px;
      background-color: #f5f5f5;
      bottom: -5px;
      position: absolute;
      border-radius: 4px;
      width: 100%;
    }

    .no-text {
      line-height: 30px;
      text-align: center;
      margin: 0;
    }

    .navbar-toggle {
      float: left;
      margin-top: 13px;
      margin-left: 15px;
      margin-bottom: 13px;
    }


    .denglu a {
      display: block;
      line-height: 60px;
      color: #4e72b8;
      font-size: 25px;
      padding-right: 15px;
    }

    .denglu>a:hover {
      color: #33a3dc;
    }

    .denglu .login_out {
      display: none;
    }

    @media (max-width: 767px) {
      .visible-xs {
        display: inline-block!important;
      }
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-default nav container">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div class="denglu">
          <a href="" class="visible-xs-block pull-right">
            <!--                                            未登录显示的图标   用 login_out 隐藏         -->
            <span class="glyphicon glyphicon-log-in login_out"></span>
            <!--                                            已登录显示的图标         -->
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </div>
        <a href="#" class="nav-logo"><img src="../public/images/sustar-logo.png" alt="" height=90%/></a>
      </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li><a class="new-show" href="#">头条</a></li>
          <li><a class="new-show" href="#">问答</a></li>
          <li><a href="#">专栏</a></li>
          <li><a href="#">讲堂</a></li>
          <li><a href="#">职位</a></li>
          <li><a class="new-show" href="#">活动</a></li>
          <!--                                                  登录后显示部分                                             -->
          <li class='visible-xs'><a href="#">消息</a></li>
          <li class='visible-xs'><a href="#">设置</a></li>
          <li class='visible-xs'><a href="#">退出</a></li>

        </ul>

        <!--                                                    所有右侧部分均在这里 -->
        <div class="navbar-right">
          <form class="line-leight navbar-form navbar-left hidden-sm hidden-xs">
            <div class="form-group">
              <input type="text" class="header-search form-control" placeholder="输入关键词以搜索">
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <!--                                                 未登录的小手  已用login_out隐藏 -->
            <li class='login_out'>
              <a class="a-hover" href="#">
                <span class="glyphicon glyphicon-question-sign"></span>
              </a>
            </li>
            <!--                                                 未登录的登录注册绿框   已用login_out 隐藏 -->
            <li class='login_out'>
              <div class='log-in'>
                <a href="">登录</a>
                <span>·</span>
                <a href="">注册</a>
              </div>
            </li>
            <li class="dropdown login_pad hidden-sm hidden-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">发头条</a></li>
                <li><a href="#">提问题</a></li>
                <li><a href="#">写文章</a></li>
                <li><a href="#">写笔记</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">草稿箱</a></li>
              </ul>
            </li>

            <li class="dropdown login_pad hidden-sm hidden-xs" id='bell-f'>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-bell"></span>
              </a>
              <ul class="dropdown-menu" id='bell'>
                <li class="bell_tag">

                  <ul class="nav nav-tabs bell-top" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">通知提醒</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">被赞内容</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">新增关注</a></li>
                  </ul>


                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                      <p class='text_tab'>
                        <span class="glyphicon glyphicon-bullhorn" style='color:#4e72b8'></span>
                        <a href="">您被打了一顿并吃了口使。但是您不开心，打算吃个够，点击查看详情...</a></p>
                      <div class="foot_tab">
                        <a href="">查看全部 »</a>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                      <p class='text_tab'>
                        <span class="glyphicon glyphicon-thumbs-up" style='color:4e72b8'></span>
                        <a href="">您的帖子《如何1天成为帅逼》被大帅逼认真男点了赞，点击查看详情...</a></p>
                      <div class="foot_tab">
                        <a href="">查看全部 »</a>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                      <p class='text_tab'>
                        <span class="glyphicon glyphicon-heart-empty" style='color:#ff4500'></span>
                        <a href="">您被巨他妈靓的刘霜关主拉！点击查看详情...</a></p>
                      <div class="foot_tab">
                        <a href="">查看全部 »</a>
                      </div>
                    </div>

                  </div>
                </li>
              </ul>
            </li>

            <li class="dropdown login_pad hidden-sm hidden-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-envelope"></span>
              </a>
              <ul class="dropdown-menu" id='bell'>
                <li class="bell_tag">

                  <ul class="nav nav-tabs bell-top" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">最近的私信</a></a>
                    </li>
                  </ul>


                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                      <p class="no-text" style="display:none">没有人鸟你</p>
                      <p class='text_tab'>
                        <span class="glyphicon glyphicon-envelope" style='color:#4e72b8'></span>
                        <a href="">曲贺给您发了一条消息，点击查看详情...</a></p>
                      <div class="foot_tab">
                        <a href="">查看全部 »</a>
                      </div>

                    </div>
                </li>
              </ul>
            </li>

            <li class='login_pad'>
              <div class="btn-group">
                <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-user"></span>
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
                <ul class="dropdown-menu">
                  <li><a href="#">我的主页</a></li>
                  <li><a href="#">我的文档</a></li>
                  <li><a href="#">我的资产</a></li>
                  <li><a href="#">帐号设置</a></li>
                  <li><a href="#">退出</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">返回主页</a></li>
                  <li><a href="#">建议反馈</a></li>
                  <li><a href="#">用户申诉</a></li>
                </ul>
              </div>
            </li>
          </ul>
          </div>
        </div>
      </div>

  </nav>
  <div class="nav-tags">
    <div class="container">
      <nav class="nav nav-posi">
        <ul class="nav_list">
          <li class="nav_item">
            <a href="">
              <span class="glyphicon glyphicon-home"></span> home
            </a>
          </li>
          <li class="nav_item">
            <a>
              <span class="split"></span>
            </a>
          </li>
          <li class="nav_item">
            <a class='nav_tag' href="">javascript</a>
          </li>
          <li class="nav_item nav_item-more">
            <a class="tag_item_more" href="">
              <div class="tag__more">
                <i class="tag__more--icon"></i>
                <i class="tag__more--icon"></i>
                <i class="tag__more--icon"></i>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <script>
    var bell = document.getElementById('bell');
    var bellF = document.getElementById('bell-f');
    console.log(bell);
    bell.onmouseover = function() {
      bell.style.display = "block";
    }
    bell.onmouseout = function() {
      bell.style.display = null;
    }
  </script>
</body>

</html>
