<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <link rel="stylesheet" href="/css/header.css">
  <title>header</title>
  <style>

  </style>
</head>

<body>
  <nav class="navbar navbar-default nav container">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div class="denglu">
          <a class="visible-xs-block pull-right">
            <!--                                            未登录显示的图标   用 login_out 隐藏         -->
            <span class="login-button login-hidden glyphicon glyphicon-log-in"></span>
            <!--                                            已登录显示的图标         -->
            <span class="login-block glyphicon glyphicon-pencil login_out"></span>
          </a>
        </div>
        <a href="#" class="nav-logo"><img src="./images/sustar-logo.png" alt="" height=90%/></a>
      </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
<!--
          <li><a class="new-show" href="#">头条</a></li>
          <li><a class="new-show" href="#">问答</a></li>
          <li><a href="#">专栏</a></li>
          <li><a href="#">讲堂</a></li>
          <li><a href="#">职位</a></li>
          <li><a class="new-show" href="#">活动</a></li> -->
          <!--                                                  登录后显示部分                                             -->
          <li class='visible-xs login-block'><a href="#">消息</a></li>
          <li class='visible-xs login-block'><a href="#">设置</a></li>
          <li class='visible-xs login-block'><a href="#">退出</a></li>

        </ul>

        <!--                                                    所有右侧部分均在这里 -->
        <div class="navbar-right">
          <form class="line-leight navbar-form navbar-left hidden-sm hidden-xs">
            <div class="form-group">
              <input type="text" class="header-search form-control" placeholder="输入关键词以搜索">
              <button type="submit" class="btn btn-default btn-p"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <!--                                                 未登录的小手  已用login_out隐藏 -->
            <!-- login_out -->
            <li class='login-hidden'>
              <a class="a-hover">
                <span class="glyphicon glyphicon-question-sign"></span>
              </a>
            </li>
            <!--                                                 未登录的登录注册绿框   已用login_out 隐藏 -->
            <!-- login_out -->
            <li class='login-button login-hidden'>
              <div class='log-in'>
                <a>登录</a>
                <span>·</span>
                <a>注册</a>
              </div>
            </li>
            <!-- 写帖子（登陆后） -->
            <li class="login-block dropdown login_pad hidden-sm hidden-xs login_out">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">发头条</a></li>
                <li><a href="#">提问题</a></li>
                <li><a href="#">写文章</a></li>
                <li><a href="#">写笔记</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">草稿箱</a></li>
              </ul>
            </li>
            <!-- 消息（登陆后） -->
            <li class="login-block dropdown login_pad hidden-sm hidden-xs login_out" id='bell-f'>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-bell"></span>
              </a>
              <ul class="dropdown-menu" id='bell'>
                <li class="bell_tag">

                  <ul class="nav nav-tabs bell-top" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">通知提醒</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">被赞内容</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">新增关注</a></li>
                  </ul>


                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                      <p class='text_tab'>
                        <span class="glyphicon glyphicon-bullhorn" style='color:#4e72b8'></span>
                        <a href="">您被打了一顿并吃了口使。但是您不开心，打算吃个够，点击查看详情...</a></p>
                      <div class="foot_tab">
                        <a href="">查看全部 »</a>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                      <p class='text_tab'>
                        <span class="glyphicon glyphicon-thumbs-up" style='color:4e72b8'></span>
                        <a href="">您的帖子《如何1天成为帅逼》被大帅逼认真男点了赞，点击查看详情...</a></p>
                      <div class="foot_tab">
                        <a href="">查看全部 »</a>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                      <p class='text_tab'>
                        <span class="glyphicon glyphicon-heart-empty" style='color:#ff4500'></span>
                        <a href="">您被巨他妈靓的刘霜关主拉！点击查看详情...</a></p>
                      <div class="foot_tab">
                        <a href="">查看全部 »</a>
                      </div>
                    </div>

                  </div>
                </li>
              </ul>
            </li>
            <!-- 信息(登录后) -->
            <li class="login-block dropdown login_pad hidden-sm hidden-xs login_out">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-envelope"></span>
              </a>
              <ul class="dropdown-menu" id='bell'>
                <li class="bell_tag">

                  <ul class="nav nav-tabs bell-top" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">最近的私信</a></a>
                    </li>
                  </ul>


                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                      <p class="no-text" style="display:none">没有人鸟你</p>
                      <p class='text_tab'>
                        <span class="glyphicon glyphicon-envelope" style='color:#4e72b8'></span>
                        <a href="">曲贺给您发了一条消息，点击查看详情...</a></p>
                      <div class="foot_tab">
                        <a href="">查看全部 »</a>
                      </div>

                    </div>
                </li>
              </ul>
            </li>
            <!-- 个人信息(登陆后) -->
            <li class='login-block login_pad login_out'>
              <div class="btn-group">
                <button type="button" class="btn  btn-p btn-primary">
                  <span class="glyphicon glyphicon-user"></span>
                </button>
                <button type="button" class="btn btn-p btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
                <ul class="dropdown-menu">
                  <li><a href="#">我的主页</a></li>
                  <li><a href="#">我的文档</a></li>
                  <li><a href="#">我的资产</a></li>
                  <li><a href="#">帐号设置</a></li>
                  <li><a href="/quit">退出</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">返回主页</a></li>
                  <li><a href="#">建议反馈</a></li>
                  <li><a href="#">用户申诉</a></li>
                </ul>
              </div>
            </li>
          </ul>
          </div>
        </div>
      </div>

  </nav>
  <div class="nav-tags">
    <div class="container">
      <nav class="nav nav-posi">
        <ul class="nav_list">
          <li class="nav_item">
            <a href="">
              <span class="glyphicon glyphicon-home"></span> home
            </a>
          </li>
          <li class="nav_item">
            <a>
              <span class="split"></span>
            </a>
          </li>
          <li class="nav_item">
            <a class='nav_tag' href="">javascript</a>
          </li>
          <li class="nav_item nav_item-more">
            <a class="tag_item_more" href="">
              <div class="tag__more">
                <i class="tag__more--icon"></i>
                <i class="tag__more--icon"></i>
                <i class="tag__more--icon"></i>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="login-box"><% include login %></div>
  <script>
    var bell = document.getElementById('bell');
    var bellF = document.getElementById('bell-f');
    var state = <%= state %>;
    if (state) {
      $(".login-hidden").addClass("login_out");
      $(".login-block").removeClass("login_out");
    }else {
      $(".login-block").addClass("login_out");
      $(".login-hidden").removeClass("login_out");
    }
    bell.onmouseover = function() {
      bell.style.display = "block";
    }
    bell.onmouseout = function() {
      bell.style.display = null;
    }
    $(".login-button").click(function(){
      $(".login-box").css("display","block");
      console.log("show");
    });
  </script>
</body>

</html>
