<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>登录/注册页面</title>
    <link rel="stylesheet" href="css/log in.css">
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/socket.io/2.0.3/socket.io.js"></script>

  </head>
  <body>
    <div class="login-ti">
        <div class="login-con">
          <div class="modal-header">
          <p>登录 <strong class="bt">×</strong></p>
          </div>
          <div class="modal-body">
            <div class="modal-l">
            <!-- 注册 -->
            <form  id="zhuce" method="post" action="/">
            <p style="color:#777;margin-bottom:15px;font-size:20px;">注册新帐号</p>
            <p class="name">
            <label for="">昵称</label><br>
            <input type="text" name="name" class="zhu_name"value="" placeholder="请输入昵称">
            </p>
            <p class="youxiang">
            <label for="">邮箱</label><br>
            <input type="text" name="email" class="zhu_youxiang"value="" placeholder="hello@segmentfault.com">
            </p>
            <p class="password">
            <label for="">密码</label><br>
            <input type="password" name="password" value="" class="zhu_mi"placeholder="请输入最少6位数的密码">
            </p>
            <p class="fuwu">同意并接受 <a href="#"><<服务条款>></a> <button class="try" type="submit" name='style' value="注册" style="float:right;">注册</button></p>
            </form>
            </div>

            <div class="modal-z">
            </div>

            <div class="modal-l">
              <!--登录 -->
              <form  id="denglu" method="post" action="/">
              <p style="color:#777;margin-bottom:15px;font-size:20px;">用户登录</p>
              <p>
              <label for="">账户</label><br>
              <input type="text" class="deng_name" name="name" value="" placeholder="输入手机或者邮箱" maxlength="12">
              </p>
              <p>
              <label for="">密码</label><br>
              <input type="password" class="deng_mi" name="password" value="" placeholder="请输入密码" maxlength="20">
              </p>
              <p class="fuwu"><a href="#" class="wang">忘记密码?</a><button type="submit" name="style" value="登录" style="float:right;">登录</button></p>
              <div><img src="img/dong.gif" alt="" style="margin:auto"></div>
            </form>
            </div>
          </div>
        </div>
    </div>
  <script type="text/javascript" src='js/style.js'></script>

  </body>
</html>
