<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/stylesheets/ranking.css" rel="stylesheet">
    <title>达人排行榜</title>
  </head>
  <body>
    <div class="ranking-box">
      <div class="ranking-title">知识达人排行榜</div>
      <ol>
        <li><img src="/images/15040315329650.jpg" alt="没有头像" /><a href="#">小泽</a><span>+95</span></li>
        <li><img src="/images/15040315329650.jpg" alt="没有头像" /><a href="#">小哲</a><span>+68</span></li>
        <li><img src="/images/569_763571_87b3c856cf9a3b1.jpg" alt="没有头像" /><a href="#">小兰</a><span>+65</span></li>
        <li><img src="/images/569_763571_87b3c856cf9a3b1.jpg" alt="没有头像" /><a href="#">小懒</a><span>+56</span></li>
        <li><img src="/images/569_763571_87b3c856cf9a3b1.jpg" alt="没有头像" /><a href="#">小龙</a><span>+45</span></li>
        <li><img src="/images/4abde8e9c9a3ae24f18de.jpg" alt="没有头像" /><a href="#">小蓝</a><span>+44</span></li>
        <li><img src="/images/4abde8e9c9a3ae24f18de.jpg" alt="没有头像" /><a href="#">小权</a><span>+43</span></li>
        <li><img src="/images/7aec54e736d12f2e160d4a354dc2d5628535685f.jpg" alt="没有头像" /><a href="#">小泉</a><span>+43</span></li>
        <li><img src="/images/7aec54e736d12f2e160d4a354dc2d5628535685f.jpg" alt="没有头像" /><a href="#">小圈</a><span>+40</span></li>
        <li><img src="/images/15040315329650.jpg" alt="没有头像" /><a href="#">小东</a><span>+39</span></li>
      </ol>
    </div>
  </body>
</html>
